.agents{
  .inside-banner{
    background: url(/images/bginside.jpg) #222;
    padding: 20px 0;
    color: #999;
  }
  .container{
    .glyphicon-envelope, .glyphicon-earphone{
      margin-right: 5px;
    }
  }
}